.header{
    background-color: black;
    overflow: auto;
    padding:5px;
}

.head-link-container{
    float:right;
    display: inline;
}
.header-links{
    float: right;
    display: inline;
    line-height: 40px;
    padding: 0 10px;
    margin: 5px;
}

.head-link{
    text-decoration: none;
    color:white;
}

.head-link:hover{
    color: #E6B220;
}

.title{
    float: left;
    text-align: left;
    height: 40px;
    font-size: 1.5em;
    line-height: 30px;
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 5px;
    font-style: normal;
    font-weight: 300;
}

/* Format Navigation Bar*/
.navigation-bar{
    background-color: #003055;
    width: 100%;
    height: 80px;
    overflow: auto;
}

.logo{
    display: inline-block;
    width: 200px;
    height: 80px;
}

/* Format Navigation Links Text*/
.text-link{
    height: 50px;
    text-decoration: inherit;
    color: white;
}

.links{
    display: inline-block;
    border: 1px solid #E6B220;
    text-align: center;
}

.links:hover{
    background-color: #E6B220;
}


/* Large Screens */
@media only screen and (min-width: 789px){
    .logo{
        float:left;
    }
    .link-container{
        text-align: right;
    }
    .links{
        width: 12%;
        line-height: 50px;
        height: 50px;
        margin: 10px;
        font-size: 16px;
    }
}


/* Mid-Size Screens */
@media only screen and (min-width: 570px) and (max-width: 788px){
    .logo{
        float:left;
    }
    .link-container{
        text-align: right;
    }
    .links{
        width: 12%;
        line-height: 50px;
        height: 50px;
        margin: 7px;
        font-size: 12px;
    }
}


/* Mobile Screens */
@media only screen and (max-width: 570px){
    .title{
        height: 40px;
        font-size: 1.5em;
        line-height: 30px;
        background-color: black;
        color: white;
        overflow: hidden;
        margin: 0;
        font-style: normal;
        font-weight: 300;
    }

    .navigation-bar{
        height: 140px;
    }
    .link-container{
        text-align: center;
    }
    .links{
        width: 18%;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        font-size: 12px;
    }




}
