/* All Devices */
/*.App {
  text-align: center;
}
*/
.App-header {
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: black;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  font-weight: 300;
  text-align: center;
}

/* large Devices */
@media only screen and (min-width: 800px){
    .App-header {
      margin: 40px;
    }
}

/* Mobile devices */
@media only screen and (max-width: 799px){
    .App-header {
      margin: 10px;
    }
}


#container{
    border-top: 3px solid #E6B220;
    box-shadow: 4px 3px 10px 5px rgba(0,0,0,.45);

}
